page-single-book {
  ion-icon {
    font-size: 30px;
  }
  .is-loan{
    ion-card-content, ion-card-header, ion-grid{
      background-color: color($colors, secondary-light);
    }
  }
  .is-stock{
    ion-card-header, ion-card-content, ion-grid{
      background-color: color($colors, danger-light);
    }
  }
}
